---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="homepage">
	<main>
		<h1>Kevinas Ramoska</h1>
		<h2>Software Engineer (Judoka/Developer)</h2>
		<p class="introduction">
			Welcome to my page, my name is Kevinas. I am a 3rd year student at <a href = "https://www.maynoothuniversity.ie/">Maynooth University</a> studying Computer Science. Currently, also I an an Intern Software Engineer, currently working at <a href="https://www.gm.com/">General Motors</a>. 
		</p>
		<p class="introduction">
			I am a passionate developer, who loves to learn new things and work on new projects. I am also a passionate judoka, who loves to train and compete. I am currently a member of the <a href="https://www.maynoothjudo.com/">Maynooth Judo Club</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="./interests"
				title="Interests"
				body="What are some of my interests?"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Aspirations"
				body="What are some of my aspirations?"
			/>
			<Card
				href="https://astro.build/themes/"
				title="Portfolio"
				body="What are some of my projects?"
			/>
			<Card
				href="https://astro.build/chat/"
				title="Uses"
				body="What I use to get the job done."
			/>
		</ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
